{% set count = 0 %}
{% for module in post.get_field('pagina_opbouw') %}

	{% if loop.first %}
		{% set heading = 'h1' %}
	{% else %}
		{% set heading = 'h2' %}
	{% endif %}

	{% if module.acf_fc_layout == 'slider' %}
		{% include 'flexible/modules/slider/view.twig' with {heading : heading} %}

	{% elseif module.acf_fc_layout == 'content' %}
        {% set first = '' %}
        {% if count == 0 %}
            {% set first = 'first-el' %}
        {% endif %}

		{% include 'flexible/modules/content/view.twig' with {first: first} %}
		{% set count = count + 1 %}

	{% elseif module.acf_fc_layout == 'tabs' %}
		{% include 'flexible/modules/tabs/view.twig' %}

	{% elseif module.acf_fc_layout == 'kavels_tonen' %}
		{% include 'flexible/modules/kavels-tonen/view.twig' %}

	{% elseif module.acf_fc_layout == 'veel_gestelde_vragen' %}
		{% include 'flexible/modules/veel-gestelde-vragen/view.twig' %}

	{% elseif module.acf_fc_layout == 'contactformulier' %}
		{% include 'flexible/modules/contactformulier/view.twig' %}

	{% elseif module.acf_fc_layout == 'andere_kavels' %}
		{% include 'flexible/modules/andere-kavels/view.twig' %}

    {% elseif module.acf_fc_layout == 'banner' %}
		{% include 'flexible/modules/banner/view.twig' %}

	{% endif %}

{% endfor %}
