<footer class="site-footer">
    <div class="site-container">
        <div class="site-container__inner">
            <div class="site-footer__holder">
                <div class="site-footer__navigation">
                    <span>{{ site.name }}</span>
                    <ul class="footer__navigation">
                        {% for item in footer_menu.get_items %}
                        <li>
                            <a href="{{ item.get_link }}" target="{{ item.target == '_blank' ? '_blank' : '_self' }}">{{ item.title }}</a>
                        </li>
                        {% if not loop.last %}
                            <li class="divider"></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="http://www.sumedia.nl/" target="_blank" class="creator">Sumedia</a>
            </div>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
