<div class="site-header">
    {% spaceless %}
    <div class="site-header__holder">
        <div class="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
            <div class="hamburger-name">Menu</div>
        </div>
        <a href="{{ site.link }}" class="logo">
            <div class="logo__inner">
                <img src="{{ theme.link }}/dist/images/logo.svg" alt="{{ site.name }}" title="{{ site.name }}" />
            </div>
        </a>
    </div>
    {% if options.start_verkoop_tekst %}
    <div class="start-sale">{{ options.start_verkoop_tekst|wpautop }}</div>
    {% endif %}
    {% endspaceless %}
    <nav class="navigation">
        <div class="navigation__holder">
            <ul class="navigation__main">
                {% for item in menu.get_items %}
                <li class="{{ cycle(['', 'active'], item.current) }}">
                    <a href="{{ item.get_link }}" target="{{ item.target == '_blank' ? '_blank' : '_self' }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="navigation__contact">
                {{ options.contactgegevens|wpautop }}
            </div>
        </div>
    </nav>
</div>
