{% if pagination.prev or pagination.next %}
    <div class="pager">
        {% if pagination.prev %}
            <a href="{{ pagination.prev.link }}" class="pager__prev {{ pagination.prev.link|length ? '' : 'invisible' }}">prev</a>
        {% endif %}

        {% if pagination.next %}
            <a href="{{ pagination.next.link }}" class="pager__next {{ pagination.next.link|length ? '' : 'invisible' }}">next</a>
        {% endif %}

        <ul>
            {% for page in pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}