.slider-wrapper-outer {
    width: 100%;
    position: relative;
    overflow: hidden;

    .home & {
        height: calc(100vh - 75px);
    }

    @media ($media-sm) {
        // height: calc(100vh - 132px);

        .home & {
            height: calc(100vh - 130px);
        }
    }
    @media ($media-md) {
        height: calc(100vh - 55px);

        .home & {
            height: calc(100vh - 55px);
        }
    }

    @media (min-width: 1025px) {
        height: 100vh;

        .home & {
            height: 100vh;
        }
    }

    .audio-button {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        transition: all 200ms ease-in-out;
        background: url('../images/audio-mute-button.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 21px;
        height: 20px;
        z-index: 3;
        cursor: pointer;

        &.mutevideo {
            background: url('../images/audio-button.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &.video-playing {

        .audio-button {
            opacity: 1;
        }
    }

    .slider-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &.video-playing {
            cursor: url('../images/cursor-pause.png'), auto;
        }

        &.video-paused {
            cursor: url('../images/cursor-play.png'), auto;
        }

        > .site-container {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;

            @media ($media-md-max) {
                padding: 0;
            }

            @media ($media-md) {
                position: absolute;
                top: 0;
                left: 0;
            }

            .site-container__inner {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .home & {
                    align-items: center;
                }

                @media ($media-sm) {
                    align-items: center;
                }

                .site-container__inner__middle {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 30px 22px;
                    background-color: $color-wild-sand;
                    border-bottom: 1px solid darken($color-wild-sand, 6%);

                    @media ($media-md) {
                        background-color: transparent;
                        border: 0;
                    }

                    .home & {
                        background-color: transparent;
                    }
                }

                .slidertext {

                    @media ($media-md) {
                        color: $white;
                    }

                    .home & {
                        display: block;
                    }

                    h1 {
                        @extend .big-h1;
                        letter-spacing: 0.39em;

                        @media ($media-md) {
                            color: $white;
                        }
                    }

                    h2 {
                        @extend .h2;
                    }

                    > span {
                        display: block;
                        margin-top: 6px;
                        font-size: 14px;

                        @media ($media-sm) {
                            font-size: 22px;
                        }

                        @media ($media-md) {
                            display: inline-block;
                            margin: 0;
                            font-size: 28px;
                        }

                        @media ($media-lg) {
                            font-size: 33px;
                        }

                        span {
                            position: relative;
                            &:before {
                                position: absolute;
                                content: '';
                                right: 0;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background: $white;
                            }
                        }
                    }

                    &.achtergrond {

                        @media ($media-md) {
                            h1,
                            h2 {
                                padding: 16px;
                                background: $white;
                                color: $color-spanish-green;
                            }

                            > span {
                                position: relative;
                                top: -1px;
                                font-size: 16px;
                                padding: {
                                    top: 6px;
                                    right: 16px;
                                    bottom: 16px;
                                    left: 16px;
                                }
                                color: $black;
                                background: $white;
                            }
                        }
                    }
                }

                .sliderarrows {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .home & {
                        display: none;

                        @media ($media-md) {
                            display: flex;
                        }
                    }

                    .next-slide-arrow,
                    .prev-slide-arrow {
                        width: 44px;
                        height: 40px;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        text-align: center;
                        line-height: 1;
                        cursor: pointer;
                        background: $white;
                        font-size: 0;

                        @media ($media-md) {
                            width: 64px;
                            height: 60px;
                        }

                        &:before {
                            height: 100%;
                            display: inline-block;
                            vertical-align: middle;
                            content: '';
                        }

                        &:after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            content: '';
                            background-color: $color-spanish-green;
                            transform: scaleX(0) {
                                origin: center left;
                            }
                            transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1) 0.075s;
                        }

                        @media (min-width: 1025px) {

                            &:hover {

                                &:after {
                                    transform: scaleX(1);
                                    transition-delay: 0s;
                                }

                                i {
                                    color: $white;
                                    transform: translateX(4px);
                                    transition-delay: 0.075s;
                                }
                            }
                        }

                        i {
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            z-index: 2;
                            transition: color 0.45s cubic-bezier(0.4, 0, 0.2, 1) 0.075s, transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
                            font-size: 16px;

                            @media ($media-md) {
                                font-size: 22px;
                            }
                        }
                    }

                    .prev-slide-arrow {
                        margin-right: 1px;

                        &:after {
                            transform-origin: center right;
                        }

                        @media (min-width: 1025px) {

                            &:hover {

                                i {
                                    transform: translateX(-4px);
                                }
                            }
                        }
                    }
                }
            }
        }

        .slider {
            height: 100%;
            background-color: $black;
            color: #fff;
            overflow: hidden;

            &.slider--searchbar {

                .slick-dots {

                    @media ($media-md) {
                        bottom: 150px;
                    }
                }
            }

            .slick-list {
                height: 100% !important;

                .slick-track {
                    height: 100%;

                    figure {
                        height: 100%;
                    }
                }
            }

            .slider__item {
                height: 100%;

                &.slick-active {

                    figure {

                        picture {
                            height: 100%;
                            width: 100%;
                        }

                        .hero__image {
                            width: 100%;
                            height: 100%;
                            @extend %full-bg;
                        }

                        figcaption {
                            right: 0;
                            transform: scale(1);
                            filter: none;
                            opacity: 1;
                            @media(max-width: 992px) {
                                p {
                                    color: $white !important;
                                }
                                h1, h2, h3, h4, h5, h6 {
                                    color: $white !important;
                                    span {
                                        color: $white !important;
                                    }
                                }
                            }

                            @media($media-lg) {
                                right: -40px;
                                transform: scale(0.65);
                                filter: blur(4px);
                                opacity: 0;

                                animation: {
                                    name: animate;
                                    duration: 1s;
                                    fill-mode: forwards;
                                    delay: 0.5s;
                                    timing-function: ease-out;
                                }
                            }

                            @keyframes animate {
                                from {
                                    right: -40px;
                                    transform: scale(0.65);
                                    filter: blur(4px);
                                    opacity: 0;
                                }
                                to {
                                    right: 0;
                                    transform: scale(1);
                                    filter: none;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

            }

            .video-icon {
                z-index: 99;

                @media (min-width: 1025px) {
                    display: none;
                }
            }

            figure {
                position: relative;
                margin: 0;
                overflow: hidden;

                @media ($media-md) {
                    width: 100%;
                    perspective: 1000;

                    img {
                        min: {
                            width: 100%;
                            height: 100%;
                        }
                        max: {
                            width: inherit;
                            height: inherit;
                        }
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: -9999px;
                        right: -9999px;
                        bottom: -9999px;
                        left: -9999px;
                        margin: auto;
                        object-fit: cover;
                    }
                }

                .image-holder {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    video {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;

                        @media ($media-md) {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .slider-footer {
            display: none;

            .home & {
                display: block;
            }

            @media ($media-md) {
                display: block;
            }

            &.no-scrolldown {
                display: none;

                @media ($media-md) {
                    display: block;
                }

                .site-container {
                    @media ($media-md-max) {
                        padding: 0;
                    }
                    .slider-footer__inner {
                        h2 {
                            @media ($media-md-max) {
                                margin-left: 22px;
                            }
                        }
                    }
                }
            }

            .site-container {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                display: block;
                overflow: visible;

                @media ($media-sm-max) {
                    padding: 0;
                }

                .slider-footer__inner {
                    position: relative;
                    left: 0;
                    opacity: 1;
                    height: 120px;
                    overflow: visible;

                    @media ($media-md) {
                        left: -54px;
                        padding-left: 4px;
                    }

                    &.slider-footer__inner--small {
                        height: 70px;

                        @media ($media-sm) {
                            height: 85px;
                        }
                    }

                    .slider-footer__inner__text {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        background: $color-wild-sand;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        span {
                            span {
                                display: none;
                                @media ($media-sm) {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .scrolldown-icon {
                        line-height: 0;
                        height: 70px;
                        width: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $white;
                        margin: {
                            right: 24px;
                        }
                        cursor: pointer;

                        &:before {
                            width: 4px;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: '';
                            background-color: $color-spanish-green;
                        }

                        @media ($media-sm) {
                            height: 85px;
                            width: 85px;
                        }

                        i {
                            position: relative;
                            top: -90px;
                            opacity: 0;
                            animation-name: arrowdown;
                            animation-delay: 1.5s;
                            animation-duration: 0.5s;
                            animation-fill-mode: forwards;
                            color: $black;
                            font-size: 20px;
                        }
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        top: 0;
                        bottom: 0;
                        width: 300%;
                        height: 100%;
                        left: 100%;
                        background: $color-wild-sand;
                    }

                    h2 {
                        position: relative;
                        top: -90px;
                        opacity: 0;
                        letter-spacing: 0.27em;
                        color: $color-spanish-green;
                        margin-left: 50px;
                        animation-name: arrowdown;
                        animation-delay: 1.5s;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;
                        @extend .h2;
                    }
                }

            }

        }
    }
}

.slider-footer-mobile {
    background: #f6f6f6;
    padding: 22px 0;
}

@keyframes opacityin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes arrowdown {
    from {
        opacity: 0;
        top: -90px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
