{% extends "base/default.twig" %}

{% block content %}

	<div class="content-wrapper content-wrapper--gray errorpage">
		<div class="site-container">
			<div class="site-container__inner">

				<h1>Helaas, de pagina kon niet gevonden worden</h1>
				<p>Ga naar de homepage, of gebruik het menu om uw gewenste pagina te bereiken</p>
				<a href="{{ site.link }}" class="btn">Keer terug naar de homepage</a>
			</div>
		</div>
	</div>

{% endblock %}
