{% extends "base/default.twig" %}

{% block content %}

    {% include 'components/hero.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2">
                <header class="page-header no-margin">
                    <h1>Blog</h1>
                </header>
            </div>
        </div>
        {% for post in posts %}
            {% if loop.index0 is divisible by(3) %}
                <div class="row">
            {% endif %}

            {% include "components/post.twig" with {post: post}  %}

            {% if loop.index is divisibleby(3) or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
