{% extends "base/default.twig" %}

{% block content %}
    {% for post in posts %}

        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2">
                    <header class="page-header {% if post.content is empty %}no-margin{% endif %}">
                        <h1>{{ post.title }}</h1>
                    </header>
                    {% if post.content %}
                        <div class="content-holder">
                            {{ post.content }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
