<div class="content-wrapper content-wrapper--faq">
	<div class="site-container">
		<div class="site-container__inner">
			<header>
				<h3>Veelgestelde vragen</h3>
			</header>
			<div class="faq-holder">
				{% for item in module.vragen %}
					{% if loop.first %}
						{% set activeclass = 'active' %}
					{% else %}
						{% set activeclass = '' %}
					{% endif %}
					<div class="faq__item">
						<div class="faq__item__question {{ activeclass }}">
							<span>{{ item.vraag_label }}</span>
							<i></i>
						</div>
						<div class="faq__item__answer {{ activeclass }}">
							{{ item.vraag_tekst|wpautop }}
						</div>
					</div>
				{% endfor %}
			</div>
			<footer>
				<a href="{{ module.link_onder_lijst.url }}" target="{{ module.link_onder_lijst.target }}" class="btn">
					{{ module.link_onder_lijst.title }}
				</a>
			</footer>
		</div>
	</div>
</div>
