{% extends "base/default.twig" %}

{% block content %}

    <div class="site-container">
        <div class="site-container__inner">
            <div class="kavel-wrapper">
                <div class="kavel-inner">
                    {% for post in posts %}
                        {% include 'kavels/item.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
