{% set post = TimberPost(post) %}

<article class="kavel-item" data-letter="{{ post.title|digit_only }}">
    <a href="{{ post.link }}">
        <figure>
            <div class="border-holder">
                <img src="{{ post.thumbnail.src('size-540x360') }}" alt="{{ post.title }}" />
            </div>

            <figcaption>
                <section class="item__body">
                    <header>
                        <h2>
                            <span>{{ post.title }}</span>
                        </h2>
                        {% if post.kavel_surface %}
                        <p>
                            <span>(ca) {{ post.kavel_surface }}m<sup>2</sup></span>
                        </p>
                        {% endif %}
                    </header>
                    <footer>
                        <span class="btn btn--white btn--small">{{ __('Kavel bekijken', 'westreenen') }}</span>
                    </footer>
                </section>
            </figcaption>
        </figure>
    </a>
</article>
