.site-footer {
    width: 100%;
    position: relative;
    background-color: $color-mine-shaft;
    padding: 45px 0;

    .site-footer__holder {

        @media ($media-sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .site-footer__navigation {
        margin-right: 15px;

        @media ($media-sm) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        @media ($media-lg) {
            margin-right: 0px;
        }

        span {
            display: block;
            margin-bottom: 25px;
            font: {
                family: $header-font;
                size: 20px;
                weight: 300;
            }
            text-transform: uppercase;
            letter-spacing: 0.5em;
            color: $color-spanish-green;
            line-height: 1;

            @media ($media-sm) {
                display: none;
                margin: 0 {
                    right: 15px;
                }
            }

            @media ($media-md) {
                display: block;
            }
            @media ($media-lg) {
                margin: 0 {
                    right: 30px;
                }
            }
        }

        ul {
            @extend %list-reset;

            @media ($media-sm) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            li {

                + li {
                    margin-top: 15px;
                }

                &.divider {
                    width: 1px;
                    height: 30px;
                    display: none;
                    position: relative;
                    background-color: rgba($white,.1);

                    @media ($media-sm) {
                        display: block;
                    }
                }

                @media ($media-sm) {

                    + li {
                        margin: 0 {
                            left: 15px;
                        }
                    }
                }

                a {
                    display: block;
                    color: $white;
                    font: {
                        size: 14px;
                        weight: normal;
                    }
                    text-decoration: none;
                    line-height: 1;
                }
            }
        }
    }
}

.creator {
    display: none;
    font: {
        family: 'Georgia';
        weight: bold;
        size: 14px;
    }
    line-height: 1;
    color: $white;
    letter-spacing: -0.05em;
    text-decoration: none;

    @media ($media-sm) {
        display: block;
    }
}
