.site-header {
    width: 100%;
	position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 999;
    transition: transform .4s;

    &.move-up {
        transform: translateY(-75px);
    }

    @media ($media-md) {
        width: auto;
    }

    .start-sale {
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: orange;
        padding: 10px;
        text-transform: uppercase;

        @media ($media-sm) {
            padding: {
                right: 22px;
                left: 22px;
            }
        }

        p {
            color: $white;
            margin: 0;
            line-height: 1.2;

            &:first-of-type {
                font-size: 18px;

                @media ($media-sm) {
                    font-size: 22px;
                }
            }
        }
    }

    .site-header__holder {
        display: flex;
    }

    .logo {
        width: calc(100% - 75px);
        height: 75px;
        display: block;
        position: relative;
        padding: 10px 30px;
        background-color: $white;
        border-right: 4px solid $color-spanish-green;

        @media ($media-lg) {
            width: auto;
            height: 120px;
            padding: {
                right: 35px;
                left: 36px;
            }
        }

        .logo__inner {
            position: relative;
            width: 100%;
            height: 100%;

            &:before {
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                content: '';
            }
        }

        img {
            width: 160px;
            display: inline-block;
            vertical-align: middle;

            @media ($media-md) {
                width: 121px;
            }

            @media ($media-lg) {
                width: 195px;
            }
        }
    }
}

.hamburger {
    width: 75px;
    height: 75px;
    display: block;
    padding: 20px 22px;
    background-color: $color-mine-shaft;
    cursor: pointer;
    transition: {
        property: opacity, filter;
        duration: 0.15s;
        timing-function: linear;
    }

    @media (min-width: 1025px) {

        &:hover {

            .hamburger-inner {
                animation: animate-hamburger .6s cubic-bezier(.33333, .66667, .66667, 1) alternate;

                &:before {
                    animation: animate-hamburger .6s cubic-bezier(.33333, .66667, .66667, 1) alternate forwards 200ms;
                }

                &:after {
                    animation: animate-hamburger .6s cubic-bezier(.33333, .66667, .66667, 1) alternate forwards 400ms;
                }
            }
        }
    }

    @media ($media-lg) {
        width: 120px;
        height: 120px;
        padding: 38px 40px;
    }

    .hamburger-box {
        width: 32px;
        height: 22px;
        position: relative;
        transition: 0.6s;

        @media ($media-lg) {
            width: 40px;
        }
    }

    .hamburger-inner {
        width: 32px;
        height: 1px;
        display: block;
        position: absolute;
        top: 2px;
        margin-top: -2px;
        background-color: $white;
        transition: background-color 0s linear .13s;

        &:before,
        &:after {
            width: 32px;
            height: 1px;
            display: block;
            position: absolute;
            background-color: $white;
            position: absolute;
            transition: {
                property: transform;
                duration: 0.15s;
                timing-function: ease;
            }
            content: '';

            @media ($media-lg) {
                width: 40px;
            }
        }

        &:before {
            top: 10px;
            transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        }

        &:after {
            top: 20px;
            transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        }

        @media ($media-lg) {
            width: 40px;
        }
    }

    .hamburger-name {
        display: block;
        margin-top: 5px;
        font: {
            family: $header-font;
            size: 8px;
            weight: 400;
        }
        text-transform: uppercase;
        letter-spacing: 0.27em;
        color: $white;

        @media ($media-lg) {
            margin-top: 10px;
            font: {
                size: 10px;
            }
        }
    }

    @keyframes animate-hamburger {
        0% {
            width: 40px;
        }
        50% {
            width: 20px;
        }
        100% {
            width: 40px;
        }
    }
}

.navigation {
    width: 100%;
    height: calc(100vh - 75px);
    position: absolute;
    top: 100%;
    left: -100%;
    overflow: auto;
    transition: left 0.6s cubic-bezier(0.4, 0, 0.2, 1);

    @media ($media-md) {
        left: -$header-width-md;
    }

    @media ($media-lg) {
        height: calc(100vh - 120px);
        left: -$header-width-lg;
    }

    .navigation__holder {
        min-height: 100%;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background-color: $color-mine-shaft;
    }

    .navigation__main {
        width: 100%;
        display: block;
        position: relative;
        padding: 45px 22px {
            right: 10px;
        }
        transform: translateX(-80px);
        opacity: 0;
        transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        @extend %list-reset;

        @media ($media-lg) {
            padding: {
                right: 20px;
                left: 40px;
            }
        }

        li {

            @media (min-width: 1025px) {

                &:hover {

                    a {
                        &:after{
                            opacity: 1;
                            left: 0;
                        }
                    }
                }
            }

            &.active {

                a {

                    &:after {
                        opacity: 1;
                        left: 0;
                    }
                }
            }

            a {
                display: block;
                padding: 15px 0;
                font: {
                    family: $header-font;
                    size: 18px;
                    weight: 300;
                }
                color: $white;
                text: {
                    transform: uppercase;
                    decoration: none;
                }
                line-height: 1.4;
                letter-spacing: 0.4em;

                &:after {
                    display: block;
                    width: 40px;
                    height: 2px;
                    opacity:0;
                    left: -20px;
                    position: relative;
                    top: 10px;
                    background-color: $white;
                    content: '';
                    transition: all 200ms ease-out;

                    @media ($media-lg) {
                        width: 56px;
                    }
                }

                @media ($media-lg) {
                    padding: 20px 0;
                }
            }
        }
    }

    .navigation__contact {
        align-self: flex-end;
        padding: 40px 22px;
        transform: translateX(-80px);
        opacity: 0;
        transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &:before {
            width: 40px;
            height: 2px;
            display: block;
            position: relative;
            top: -40px;
            background-color: $color-spanish-green;
            content: '';

            @media ($media-lg) {
                width: 56px;
            }
        }

        @media ($media-lg) {
            padding: {
                left: 40px;
            }
        }

        p {
            margin: 0;
            color: $white;
            font-size: 16px;
            line-height: 1.6;

            a {
                color: currentColor;
                text-decoration: none;
            }
        }
    }
}
