.video-container {
    position: relative;
}

.fancybox-video {
    display: none;
}


.video__play {

}

.videoclone {
    display: none;
    position: fixed;
    z-index: 9999;
    transition: all 500ms ease-in-out;
    
    @media(max-width: 1024px) {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%) !important;
    }
    
    &.centervideo {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%) !important;
        
        picture {
            position: absolute;
            z-index: 99999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .video-container {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        
        .close {
            position: absolute;
            top: -44px;
            right: 0;
            border: none;
            padding: 10px;
            margin: 0;
            opacity: 1;
            cursor: pointer;
            background-color: #f4f4f4;
            color: #333131;
            font-size: 12px;
            font-family: $main-font;
            font-weight: 400;
            text-transform: uppercase;
            text-shadow: none;
            letter-spacing: .06em;
            z-index: 999999;
            transition: top 400ms ease-in-out;
            
            @media ($media-md) {
                font-size: 16px;
            }
            
            &.closein {
                top: 0px;
                @media ($media-sm) {
                    top: 4px;
                }
            }
        }
    }
}

.videoclone-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(#000,0.8);
    cursor: pointer;
}