{% spaceless %}

	{% if module.slides %}

    	<section class="slider-wrapper-outer">
    		<div class="slider-wrapper">
    			<div class="slider">
        		{% for slide in module.slides %}
    				<div class="slider__item">
    					<figure>
    						<div class="image-holder">
    						{% if fn('my_wp_is_mobile') %}
    							{% if slide.video %}
    							<a href="{{ slide.video_url.url }}" class="video-icon slider__video-play-modal">
    								<span></span>
    							</a>
        						{% else %}
    								{% if fn('is_front_page') %}
    									<div class="hero__image" style="background-image:url('{{ TimberImage(slide.afbeelding).src('size-480x768') }}');"></div>
    								{% else %}
                                        <img
        									src="{{ TimberImage(slide.afbeelding).src('size-540x360') }}"
        									title="{{ TimberImage(slide.afbeelding).title }}"
        									alt="{{ TimberImage(slide.afbeelding).alt }}"
        									class="hero__image"
        								/>
    								{% endif %}
    							{% endif %}
    						{% else %}
        						<picture>
    								<source
    									media="(max-width: 479px)"
    									srcset="{{ TimberImage(slide.afbeelding).src('size-540x360') }}"
    								>
    								<img
    									src="{{ TimberImage(slide.afbeelding).src('size-1920x1080') }}"
    									title="{{ TimberImage(slide.afbeelding).title }}"
    									alt="{{ TimberImage(slide.afbeelding).alt }}"
    									class="hero__image"
    								/>
    							</picture>
    							{% if slide.video %}
    								<a href="{{ slide.video_url.url }}" class="video-icon slider__video-play-modal">
    									<span></span>
    								</a>
    							{% endif %}
    						{% endif %}
    						</div>
        				</figure>
    				</div>
    			{% endfor %}
    			</div>

    			{% if module.titel or module.slider_pijltjes_tonen %}
                    {% set text_backdrop = '' %}
    				{% if module.gekleurd_blok_achter_tekst %}
    					{% set text_backdrop = 'achtergrond' %}
    				{% endif %}
    				<div class="site-container">
    					<div class="site-container__inner">
    						<div class="site-container__inner__middle">
    							<div class="slidertext {{ text_backdrop }}">
    								{% if module.titel %}
        								<{{ heading }}>{{ module.titel }}</{{ heading }}>
        							{% endif %}
        							{% if module.subtitel %}
        								<span>{{ module.subtitel }}</span>
        							{% endif %}
        						</div>
        						{% if module.slider_pijltjes_tonen %}
    							<div class="sliderarrows">
    								<div class="prev-slide-arrow">
                                        <i class="icon-arrow icon-arrow-left spanish-green"></i>
                                    </div>
    								<div class="next-slide-arrow">
                                        <i class="icon-arrow icon-arrow-right spanish-green"></i>
    								</div>
    							</div>
    						{% endif %}
    					</div>
    				</div>
    			</div>
    			{% endif %}

                {% set scrolldownclass = '' %}
    			{% if not module.scrolldown %}
    				{% set scrolldownclass = 'no-scrolldown' %}
    			{% endif %}

    			<div class="slider-footer {{ scrolldownclass }}">
    				<div class="site-container">
    					{% if module.scrolldown %}
    						<div class="slider-footer__inner slider-footer__inner--small">
    							<div class="slider-footer__inner__text">
    								<div class="scrolldown-icon">
    									<i class="icon-arrow icon-arrow-down spanish-green"></i>
    								</div>
    								{% if module.scrolldown_tekst %}
    									<span>{{ module.scrolldown_tekst }}</span>
    								{% endif %}
    							</div>
    						</div>
    					{% else %}
    						<div class="slider-footer__inner">
    							<div class="slider-footer__inner__text">
    								<h2>{{ module.slider_footer_titel }}</h2>
    							</div>
    						</div>
    					{% endif %}
    				</div>
    			</div>

    		</div>
    		<div class="audio-button"></div>
    	</section>

	{% endif %}

{% endspaceless %}
