.btn {
    display: block;
    position: relative;
    outline: 0;
    border: 0;
    padding: 0;
    @extend .p-size;
    font: {
        family: $main-font;
        weight: bold;
    }
    appearance: none;
    background-color: transparent;
    color: $text-color;
    letter-spacing: 0.06em;
    line-height: 1;
    text-decoration: none;

    + .btn {
        margin-top: 20px;
    }

    @media ($media-xs) {
        display: inline-block;
        vertical-align: top;

        + .btn {
            margin: 0 {
                left: 20px;
            }
        }
    }

    @media ($media-md) {
        display: block;

        + .btn {
            margin: 0 {
                top: 20px;
            }
        }
    }

    @media (min-width: 1025px) {
        display: inline-block;
        vertical-align: top;

        + .btn {
            margin: 0 {
                left: 20px;
            }
        }

        &:hover {

            &:after {
                width: 100%;
            }
        }
    }

    @media ($media-lg) {
        display: block;

        + .btn {
            margin: 0 {
                top: 20px;
            }
        }
    }

    @media (min-width: 1440px) {
        display: inline-block;
        vertical-align: top;

        + .btn {
            margin: 0 {
                left: 50px;
            }
        }
    }

    &:after {
        width: 80px;
        height: 2px;
        display: block;
        position: relative;
        margin-top: 8px;
        background-color: $text-color;
        content: '';
        transition: width 0.45s cubic-bezier(0.4, 0, 0.2, 1) 0.075s;
    }

    // Modifiers

    &.btn--small {

        &:after {
            width: 32px;
        }
    }

    &.btn--white {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}
