@font-face {
    font-family: 'Proxima Nova';
    src: url('#{$base-font-path}proxima_nova_light.woff2') format('woff2'),
         url('#{$base-font-path}proxima_nova_light.woff') format('woff'),
         url('#{$base-font-path}proxima_nova_light.ttf') format('truetype'),
         url('#{$base-font-path}proxima_nova_light.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('#{$base-font-path}proxima_nova_semibold.woff2') format('woff2'),
         url('#{$base-font-path}proxima_nova_semibold.woff') format('woff'),
         url('#{$base-font-path}proxima_nova_semibold.ttf') format('truetype'),
         url('#{$base-font-path}proxima_nova_semibold.svg#proxima_novasemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('#{$base-font-path}icomoon.eot?rndp2o');
    src:  url('#{$base-font-path}icomoon.eot?rndp2o#iefix') format('embedded-opentype'),
    url('#{$base-font-path}icomoon.ttf?rndp2o') format('truetype'),
    url('#{$base-font-path}icomoon.woff?rndp2o') format('woff'),
    url('#{$base-font-path}icomoon.svg?rndp2o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-up:before {
    content: "\e901";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
