form {

    input {
        margin-bottom: 30px;

        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="date"],
        &[type="tel"] {
            width: 100%;
            display: block;
            padding: 10px 0;
            background-color: transparent;
            border: 0 {
                bottom: 1px solid $text-color;
            }
            font: {
                family: $main-font;
                size: 12px;
                weight: 300;
            }
            @media ($media-lg) {
                font: {
                    family: $main-font;
                    size: 16px;
                    weight: 300;
                }
            }
            letter-spacing: 0.06em;
            color: $text-color;
            border-radius: 0;
            
            @include placeholder {
                color: rgba($text-color, .5);
            }
        }
    }

    .btn {
        margin: 20px 0;
        display: inline-block;
        vertical-align: middle;

        @media ($media-sm) {
            margin-bottom: 0px;
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;

        &.form-group--checkbox {

            input {
                width: 22px;
                height: 22px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -11px;
                opacity: 0;
                -webkit-appearance: none;
                z-index: 100;

                &:checked + .wpcf7-list-item-label {

                    &:after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            .wpcf7-list-item-label {
                display: none;
            }

            .wpcf7-list-item-label {
                display: block;
                position: relative;
                padding: {
                    left: 44px;
                }
                font: {
                    family: $main-font;
                    size: 16px;
                    weight: 300;
                }
                line-height: 22px;
                cursor: pointer;

                &:before {
                    width: 22px;
                    height: 22px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 1px solid $text-color;
                    content: '';
                }

                &:after {
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    background-color: $text-color;
                    opacity: 0;
                    transform: scale(0.8);
                    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
                    content: '';
                }
            }
        }
    }
}

.screen-reader-response {
    display: none;
}

form.wpcf7-form {

    span.wpcf7-list-item {
        margin: 0;
    }

    .wpcf7-list-item-label {
        font: {
            size: 16px;
        }
    }

    span .wpcf7-not-valid {
        border: {
            color: #c10000;
        }
    }

    span.wpcf7-not-valid-tip {
        display: none !important;
    }

    div.wpcf7-validation-errors {
        background: #ffe2e2;
        border: 1px solid #c10000;
        color: #c10000;
    }

    div.wpcf7-response-output {
        width: 100%;
        display: none;
        position: relative;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        margin-top: 30px;
        line-height: 1.2;
    }

    .wpcf7-spam-blocked {
        background: #e2e2e2;
        border: 1px solid #bcbcbc !important;
        color: #383838;
    }

    .wpcf7-mail-sent-ng {
        background: #fcf8e3;
        border: 1px solid #ac9163 !important;
        color: #8a6d3b;
    }

    .wpcf7-mail-sent-ok {
        background: #dff0d8;
        border: 1px solid #3c763d !important;
        color: #3c763d;
    }

    .ajax-loader {
        width: 20px;
        height: 20px;
        visibility: hidden;
        display: inline-block;
        vertical-align: middle;
        border: 4px solid $color-mine-shaft {
            top: 4px solid $color-spanish-green;
            radius: 50%;
        }
        margin: {
            left: 40px;
        }
        animation: spin 2s linear infinite;

        &.is-active {
            visibility: visible;
        }

        @keyframes spin {
            0% {
                transform: rotate(0)
            }
            100% {
                transform: rotate(360deg)
            }
        }
    }
}
