html {
	overflow-x: hidden;
	overflow-y: auto;

    &.menu-open {
        overflow: hidden;

        .navigation {
            left: 0;

            .navigation__main,
            .navigation__contact {
                transform: translateX(0);
                opacity: 1;
                transition-delay: 0.2s;
            }

            .navigation__contact {
                transition-delay: 0.3s;
            }
        }

        .hamburger {

            .hamburger-inner {
                background-color: transparent;
                transition-delay: .22s;

                &,
                &:before,
                &:after {
                    animation: none;
                }

                &:before {
                    top: 0;
                    transform: translate3d(0, 10px, 0) rotate(45deg);
                    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
                }

                &:after {
                    top: 0;
                    transform: translate3d(0, 10px, 0) rotate(-45deg);
                    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
                }
            }
        }
    }
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: {
        family: $main-font;
        size: 14px;
	    weight: normal;
    }
    line-height: 1.8;
    letter-spacing: 0.06em;
	color: $text-color;

    &:before {
        display: none;

        @media ($media-sm-max) {
            content: 'mobile';
        }

        @media ($media-md) {
            content: 'desktop';
        }
    }
}

.site-main {
    padding-top: 75px;

    @media ($media-md) {
        padding: 0;
        min-height: calc(100vh - 120px);
    }
}

.site-container {
    position: relative;
    padding: {
        right: 22px;
        left: 22px;
    }
    z-index: 2;

    @media ($media-md) {
        padding: {
            right: 30px;
            left: $header-width-md;
        }
    }

    @media ($media-lg) {
        padding: {
            right: 100px;
            left: $header-width-lg;
        }
    }

    @media (min-width: 1440px) {
        padding: {
            right: $header-width-lg / 2;
        }
    }

    @media (min-width: 1680px) {
        padding: {
            right: $header-width-lg;
        }
    }

    .site-container__inner {
        max-width: 1160px;

        @media (min-width: 1921px) {
            max-width: 1440px;
        }
    }
}

figure {
	position: relative;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
    display: block;

    &.alignleft {

    }

    &.alignright {

    }

    &.alignnone {
        margin: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	margin: 0;
}

p {
    margin: 0 {
        bottom: 15px;
    }
    color: $text-color;

    &:last-of-type {
        margin: 0;
    }

    @media ($media-md) {
        margin-bottom: 30px;
    }
    
    &.intro {
        @extend .p-size-inro;
    }
}

a {
    color: $color-spanish-green;
    text-decoration: none;
}

:focus {
	outline: 0;
}

.border-holder {
    overflow: hidden;
    border-top-right-radius: $border-radius-top-right;
}
