.p-size {
	font-size: 14px;

	@media ($media-md) {
		font-size: 14px;
	}
}

.p-size-inro {
	font-size: 16px;
	line-height: 28px;
	
	@media ($media-md) {
		font-size: 20px;
		line-height: 36px;
	}
}

.header-size-s {
	font-size: 16px;

	@media ($media-sm) {
		font-size: 18px;
	}

	@media ($media-md) {
		font-size: 20px;
	}
}

.header-size {
	font-size: 18px;

	@media ($media-sm) {
		font-size: 20px;
	}

	@media ($media-md) {
		font-size: 22px;
	}
}

.big-h1 {
	font-size: 20px;
	
	@media ($media-sm) {
		font-size: 32px;
	}
	
	@media ($media-md) {
		font-size: 44px;
	}

	@media ($media-lg) {
		font-size: 59px;
	}
}

.h1 {
	font-size: 18px;

	@media ($media-sm) {
		font-size: 24px;
	}

	@media ($media-lg) {
		font-size: 30px;
	}
}

.h2 {
	font-size: 18px;

	@media ($media-sm) {
		font-size: 22px;
	}

	@media ($media-lg) {
		font-size: 26px;
	}
}

.h3 {
	font-size: 18px;

	@media ($media-sm) {
		font-size: 20px;
	}

	@media ($media-md) {
		font-size: 24px;
	}
}

.h4 {
	font-size: 16px;

	@media ($media-sm) {
		font-size: 18px;
	}

	@media ($media-md) {
		font-size: 20px;
	}
}

.h5 {
	font-size: 9px;

	@media ($media-sm) {
		font-size: 10px;
	}

	@media ($media-md) {
		font-size: 11px;
	}
}

.h6 {
	font-size: 9px;

	@media ($media-sm) {
		font-size: 10px;
	}

	@media ($media-md) {
		font-size: 11px;
	}
}

p {
	@extend .p-size;
}

h1, h2, h3, h4, h5, h6 {
	font: {
        family: $header-font;
	    weight: 300;
    }
	line-height: 1;
	color: $color-spanish-green;
	letter-spacing: 0.4em;
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
