// Glyphicons font path
$base-font-path: "../fonts/";
$border-radius-base: 0px;

// Grid settings
$grid-columns: 12;
$grid-gutter-width: 22px;

// Resolution breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1220px;

// Padding sizes
$padding-xs: 20px;
$padding: 28px;
$padding-lg: 35px;

// Margin sizes
$margin-xs: 30px;
$margin: 40px;
$margin-lg: 50px;

// Header width
$header-width-md: 290px;
$header-width-lg: 440px;

// Figure border radius
$border-radius-top-right: 60px;

// Container widths
$container-tablet: (720px + $grid-gutter-width);
$container-desktop: (940px + $grid-gutter-width);
$container-large-desktop: (1140px + $grid-gutter-width);

// Media queries
$media-xs: 'min-width: #{$screen-xs}';
$media-sm: 'min-width: #{$screen-sm}';
$media-md: 'min-width: #{$screen-md}';
$media-lg: 'min-width: #{$screen-lg}';

// Media queries Max
$media-xs-max: 'max-width: #{$screen-xs - 1px}';
$media-sm-max: 'max-width: #{$screen-sm - 1px}';
$media-md-max: 'max-width: #{$screen-md - 1px}';
$media-lg-max: 'max-width: #{$screen-lg - 1px}';

// Fonts
$main-font: 'Proxima Nova';
$header-font: 'Montserrat';

// SITE COLORS
$color-mine-shaft: #242424;
$color-spanish-green: #829385;
$color-wild-sand: #F6F6F6;

// FONT COLORS
$black: #000000;
$white: #FFFFFF;
$text-color: $color-mine-shaft;
