.kavelarrows {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin: 20px 0 0px 0;
    @media ($media-sm) {
        margin: 40px 0 20px 0;
    }
    
    .next-kavel-arrow,
    .prev-kavel-arrow {
        cursor: pointer;
        @extend .p-size;
        font: {
            family: $main-font;
            weight: 600;
        }
        i {
            font-size: 16px;
        }
        span {
            position: relative;
            top: -2px;
            display: none;
    
            @media ($media-xs) {
                display: inline-block;
            }
        }
    }
    
    .next-kavel-arrow {
        span {
            left: -10px;
            transition: left 150ms ease-in-out;
        }
        &:hover {
            span {
                left: -4px;
            }
        }
    }
    .prev-kavel-arrow {
        span {
            right: -10px;
            transition: right 150ms ease-in-out;
        }
        &:hover {
            span {
                right: -4px;
            }
        }
    }
}