{% if module.alle_kavels_tonen %}
	{% set kavels = fn('get_posts', 'post_type=kavels&posts_per_page=-1&orderby=name&order=ASC') %}
{% else %}
	{% set kavels = TimberPost(module.kavels_selecteren) %}
{% endif %}

{% if kavels %}
	<div class="site-container">
		<div class="site-container__inner">
			<div class="kavel-wrapper kavel-wrapper--negative">
				<div class="kavel-inner">
					{% for post in kavels %}
						{% include 'kavels/item.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endif %}