{% if module.content_tabs %}
	<div class="content-wrapper{{ module.achtergrondkleur_blok == 'grey' ? ' content-wrapper--gray' : ' content-wrapper--white' }} content-wrapper--tabs">
		<div class="site-container">
			<div class="site-container__inner">

				{% if fn('wp_is_mobile') %}
					<div class="content content-wrapper--tabs__mobile">
						{% for tab in module.content_tabs %}
							{% if loop.first %}

								<h2>{{ tab.tab_titel }}</h2>
								{{ tab.tab_content }}

								{% if tab.plattegrond_tonen %}
									<div class="content-wrapper--tabs__mobile__bottom">
										<a data-fancybox="gallery"
										   href="{{ TimberImage(tab.plattegrond_afbeelding).src('size-1920x1080') }}"
										   class="fancybox">
											<img src="{{ TimberImage(tab.plattegrond_afbeelding).src('medium') }}"
												 alt="">
											<span>
										{{ tab.plattegrond_tekst }}
												<img src="{{ theme.link }}/dist/images/zoom-in.png" alt="">
									</span>
										</a>
									</div>
								{% else %}
									<div class="content-wrapper--tabs__mobile__bottom">

										{{ tab.tab_content_rechts }}
									</div>
								{% endif %}

							{% endif %}

						{% endfor %}

						<div class="content-wrapper--tabs__mobile__cta">
							{% if module.call_to_action_op_mobiel %}
								{% if module.mobiel_titel %}
									<h2>{{ module.mobiel_titel }}</h2>
								{% endif %}
								{% if module.mobiel_titel %}
									<a href="{{ module.mobiel_bestand_url.url }}"
									   class="btn"
									   target="_blank"
									   download>{{ module.mobiel_bestand_label }}</a>
								{% endif %}
							{% endif %}
						</div>
					</div>

				{% else %}

					<div class="tabs">
						{% for tab in module.content_tabs %}
							{% if loop.first %}
								{% set activeclass = 'active' %}
							{% else %}
								{% set activeclass = '' %}
							{% endif %}
							<div class="tab {{ activeclass }}" data-tab="{{ tab.tab_titel }}">
								{{ tab.tab_titel }}
							</div>
						{% endfor %}
					</div>
					<div class="content-tabs content">
						{% for tab in module.content_tabs %}
							{% if loop.first %}
								{% set activeclass = 'active' %}
							{% else %}
								{% set activeclass = '' %}
							{% endif %}

							{% if tab.tab_indeling == 'third' %}
								{% set col_left = 'col-md-8' %}
								{% set col_right = 'col-md-4' %}
							{% endif %}

							<div class="content-tab {{ activeclass }}" data-content="{{ tab.tab_titel }}">
								{% if tab.tab_indeling and tab.tab_indeling != 'full' %}
									<div class="row">
										<div class="col-xs-12 col-sm-6 {{ col_left }}">
											{{ tab.tab_content }}
										</div>
										<div class="col-xs-12 col-sm-6 {{ col_right }}">
											{% if tab.plattegrond_tonen %}
												<a data-fancybox="gallery"
												   href="{{ TimberImage(tab.plattegrond_afbeelding).src('size-1920x1080') }}"
												   class="fancybox">
													<img src="{{ TimberImage(tab.plattegrond_afbeelding).src('medium') }}"
														 alt="">
													<span>
											{{ tab.plattegrond_tekst }}
														<img src="{{ theme.link }}/dist/images/zoom-in.png" alt="">
										</span>
												</a>
											{% else %}
												{{ tab.tab_content_rechts }}
											{% endif %}
										</div>
									</div>
								{% else %}
									{{ tab.tab_content }}
								{% endif %}
							</div>

						{% endfor %}
					</div>

				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
