.content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 40px 0;

    // Modifiers

    &.content-wrapper--gray {
        background-color: $color-wild-sand;

        .letter {
            color: $white;
        }
    }

    &.content-wrapper--white {
        background-color: $white;

        .letter {
            color: $color-wild-sand;
        }
    }

    &.content-wrapper--slider-title {

        @media ($media-md) {
            padding-top: 0;
            min-height: 300px;
        }
    }

    &.content-wrapper--tabs {
        @media ($media-lg) {
            padding-top: 0;
        }
    }

    &.content-wrapper--border {
        border-bottom: 1px solid $color-wild-sand;
    }

    @media ($media-sm) {
        padding: 120px 0 100px;
    }

    .content-wrapper__background {
        max-width: 960px;
        width: 100%;
        display: none;
        position: absolute;
        top: 100%;
        left: 100%;
        margin: {
            top: -300px;
            left: -300px;
        }
        opacity: .1;

        @media ($media-sm) {
            display: block;
        }

        @media ($media-lg) {
            margin: {
                top: -400px;
                left: -400px;
            }
        }
    }

    .letter {
        height: 80px;
        display: none;
        position: absolute;
        bottom: 0;
        perspective: 1000px;

        @media ($media-md) {
            display: block;
            width: ($header-width-md - 50);
        }

        @media ($media-lg) {
            height: 120px;
            width: ($header-width-lg - 50);
        }

        span {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotateX(-110deg);
            opacity: 0;
            font: {
                family: $main-font;
                size: 320px;
                weight: bold;
            }
            line-height: 0;
            transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

            &.letter__default {
                opacity: 1;
                transform: translateX(-50%);
            }

            &.animate-out {
                transform: translateX(-50%) rotateX(110deg);
                opacity: 0;
            }

            &.animate {
                transform: translateX(-50%) rotateX(0deg);
                opacity: 1;
            }

            @media ($media-lg) {
                font-size: 420px;
            }
        }
    }

    .content {
        position: relative;
        z-index: 2;

        &.content--pd-tabs {
            padding-bottom: 50px;
        }
        &.content--pd-kavels {
            padding-bottom: 200px;
        }

        [class^='col-'] + [class^='col-'] {
            margin-top: 20px;

            @media ($media-sm) {
                margin: 0;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 15px;
        }

        blockquote {
            padding: 0;
            margin: 30px 0;
            quotes: "\201C""\201D";

            p {
                font: {
                    family: $header-font;
                    size: 32px;
                    weight: 200;
                }
                color: $color-spanish-green;
                line-height: 1.4;

                &:before {
                    content: open-quote;
                }

                &:after {
                    content: close-quote;
                }

                @media ($media-sm) {
                    font-size: 40px;
                }
            }
        }

        ul {
            @extend %list-reset;

            li {
                position: relative;
                padding-left: 25px;

                &:before {
                    width: 5px;
                    height: 5px;
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    content: '';
                    background-color: $color-spanish-green;
                }
            }
        }
    }

    .impression-wrapper {
        height: 0;
        position: relative;
        padding-bottom: 66.5%;
        perspective: 1000px;
        transform-style: preserve-3d;

        &.flipped {

            .impression {

                .impression__front {
                    transform: rotateY(180deg);
                    z-index: 2;
                }

                .impression__back {
                    transform: rotateY(0deg);
                }
            }

            .impression__anchor {
                opacity: 0;
            }
        }

        @media (min-width: 1025px) {
            cursor: pointer;
        }

        .impression {
            display: block;
            transform-style: preserve-3d;

            figure {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 1s;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                img {
                    width: 100%;
                }
            }
        }

        .impression__back {
            transform: rotateY(-180deg);
        }

        .impression__anchor-holder {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .impression__anchor {
            max-width: 240px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 50%;
            left: 50%;
            padding: 30px;
            background-color: rgba($white, .9);
            transform: translate(-50%, -50%);
            transition: opacity .4s;
            z-index: 2;

            span {
                @extend .btn, .btn--small;
            }
        }
    }
}
