{% set content_padding, col_left, col_right = '', '', '' %}
{% if module.extra_ruimte_onder_voor_tabs %}
    {% set content_padding = ' content--pd-tabs' %}
{% elseif module.extra_ruimte_onder_voor_kavels %}
    {% set content_padding = ' content--pd-kavels' %}
{% endif %}

{% if slider_title_exists == true and first != '' %}
    {% set class = ' content-wrapper--slider-title' %}
{% endif %}

{% if module.grijze_streep_onderkant_tonen %}
    {% set class = ' content-wrapper--border' %}
{% endif %}

{% if module.indeling_blok == 'third' %}
    {% set col_left = 'col-md-8' %}
    {% set col_right = 'col-md-4' %}
{% endif %}

<div class="content-wrapper{{ class }}{{ module.achtergrondkleur_blok == 'grey' ? ' content-wrapper--gray' : ' content-wrapper--white' }}">
    {% if module.achtergrondafbeelding %}
    <figure class="content-wrapper__background">
        <img src="{{ TimberImage(module.achtergrondafbeelding).src('large') }}" alt="{{ TimberImage(module.achtergrondafbeelding).alt }}" />
    </figure>
    {% endif %}
    {% if first != '' %}
    <div class="letter">
        <span class="letter__default">{{ module.groot_letter_cijfer ?: '1' }}</span>
    </div>
    {% endif %}
    <div class="site-container">
        <div class="site-container__inner">
            <div class="content{{ content_padding }}">
                {% if module.titel_boven_tekst %}
                <header>
                    {{ module.titel_boven_tekst }}
                </header>
                {% endif %}
                {% if module.artist_impressie and module.indeling_blok != 'full' %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            {{ module.content }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="impression-wrapper">
                                <div class="impression">
                                    <figure class="impression__front border-holder">
                                        <img src="{{ TimberImage(module.artist_impressie_afbeelding_1).src('size-540x360') }}" alt="{{ TimberImage(module.artist_impressie_afbeelding_1).alt }}" />
                                    </figure>
                                    <figure class="impression__back border-holder">
                                        <img src="{{ TimberImage(module.artist_impressie_afbeelding_2).src('size-540x360') }}" alt="{{ TimberImage(module.artist_impressie_afbeelding_2).alt }}" />
                                    </figure>
                                </div>
                                <div class="impression__anchor-holder">
                                    <div class="impression__anchor">
                                        <span>{{ module.artist_impressie_tekst }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif module.content_rechts and module.indeling_blok != 'full' %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 {{ col_left }}">
                            {{ module.content }}
                        </div>
                        <div class="col-xs-12 col-sm-6 {{ col_right }}">
                            {{ module.content_rechts }}
                        </div>
                    </div>
                {% else %}
                    {{ module.content }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
