.content-wrapper--tabs {
    overflow: visible;
    
    .site-container {
        .site-container__inner {
            
            .tabs {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                top: -60px;
                .tab {
                    padding: 16px;
                    border-right: 1px solid rgba(#979797, 0.17);
                    background: transparent;
                    color: rgba(#242424, 0.35);
                    cursor: pointer;
                    position: relative;
                    
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: -1px;
                        left: -1px;
                        width: calc(100% + 2px);
                        height: 1px;
                        background: rgba(#979797, 0.17);
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        top: 1px;
                        right: -1px;
                        left: -1px;
                        width: calc(100% + 2px);
                        height: 1px;
                        background: transparent;
                    }
                    
                    &:first-of-type {
                        border-left: 1px solid rgba(#979797, 0.17);
                        &.active {
                            border-left: 1px solid $white;
                        }
                    }
                    
                    &.active {
                        background: $white;
                        border-right: 0px;
                        border-left: 0px;
                        color: $black;
                        border-right: 1px solid $white;
                        &:before {
                            background: $color-spanish-green;
                        }
    
                        &:after {
                            background: $color-spanish-green;
                        }
                    }
                }
            }
            
            .content-tab {
                display: none;
                &.active {
                    display: block;
                }
                
                
            }
    
            .content-wrapper--tabs__mobile {
                
                h2 {
                    margin-bottom: 15px;
                }
                .content-wrapper--tabs__mobile__bottom {
                    margin-top: 20px;
                    .fancybox {
                        text-align: left;
                        > img {
                            margin: 0 0;
                        }
                        > span {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                    }
                }
                .content-wrapper--tabs__mobile__cta {
                    margin-top: 20px;
                }
            }
        }
        
        .fancybox {
            display: block;
            text-align: center;
            text-decoration: none;
            margin: 20px 0;
            @media ($media-sm) {
                margin: 40px 0;
            }
            > img {
                margin: 0px auto;
                transform: scale(1);
                transition: all 250ms ease-in-out;
            }
            span {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: rgba($color-mine-shaft, 0.5);
                transition: color 150ms ease-in-out;
                img {
                    position: relative;
                    top: 0;
                    width: 16px;
                    margin-left: 10px;
                    transition: all 150ms ease-in-out;
                    z-index: 2;
                }
            }
            &:hover {
                span {
                    color: rgba($color-mine-shaft, 1);
                }
                > img {
                    transform: scale(1.05);
                }
            }
        }
    }
    
}