.kavel-wrapper {
    position: relative;
    margin: {
        right: -20px;
        left: -20px;
    }
    z-index: 1;

    .kavel-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: {
            bottom: 50px;
        }
    }
}
