.kavel-item {
    flex-basis: 100%;
    max-width: 100%;
    display: block;
    padding: 0 20px;
    margin: 20px 0;

    @media ($media-xs) {
        flex-basis: 50%;
        max-width: 50%;

        .kavel-slider__slide & {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    @media (min-width: 1921px) {
        flex-basis: 33.33%;
        max-width: 33.33%;

        .kavel-slider__slide & {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    a {
        display: block;
    }

    figure {
        position: relative;

        &:before {
            width: 100%;
        	height: 100%;
            position: absolute;
        	top: 0;
        	left: 0;
        	z-index: -1;
        	background-color: $black;
            border-top-right-radius: $border-radius-top-right;
        	content: '';
            box-shadow: 0 3px 30px rgba($black, .5);
        	opacity: 0;
        	transition: opacity 0.35s;
        }

        @media (min-width: 1025px) {

            &:hover {

                &:before {
                    opacity: 1;
                }

                .border-holder {
                    transform: scale(1.021);
                }

                figcaption {

                    span {

                        &:before {
                            opacity: 0;
                        }
                    }

                    footer {
                        opacity: 1;
                        transform: translate3d(0 ,0 ,0);
                    }
                }
            }
        }

        .border-holder {
            opacity: 1;
        	transition: transform 0.35s;
        	transform: scale(1);
        }

        img {
            width: 100%;
            display: block;
        }

        figcaption {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            z-index: 1;

            @media (min-width: 1025px) {
                padding: 0 30px {
                    top: 45px;
                    bottom: 25px;
                }
            }

            .item__body {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }

            header {
                width: 100%;
                line-height: 0;

                span {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    padding: 10px {
                        right: 20px;
                    }
                    background-color: $white;
                    line-height: 1;
                }
            }

            h2 {
                display: block;
                color: $color-spanish-green;

                span {

                    &:before {
                        width: 100%;
                        height: 100%;
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        background-color: $black;
                        box-shadow: 0 1px 10px rgba($black, .2);
                        content: '';
                        transition: opacity 0.35s;

                        @media (min-width: 1025px) {
                            display: block;

                            .kavel-slider & {
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            p {
                display: block;
                position: relative;

                span {
                    padding: 10px;
                }
            }

            footer {
                width: 100%;
                align-self: flex-end;

                @media (min-width: 1025px) {
                    opacity: 0;
                    transition: opacity 0.35s, transform 0.35s;
                    transform: translate3d(0, 100%, 0);
                }
            }
        }
    }
}
