<!doctype html>
<html {{ function('language_attributes') }} class="no-js">

{% include 'base/head.twig' %}

<body {{ function('body_class') }}>
    {% include 'components/header.twig' %}

    <main class="site-main" role="document">
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.twig' %}
    {% if footer_scripts %}
        {{ footer_scripts }}
    {% endif %}
</body>
</html>
