<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% if header_scripts %}
        {{ header_scripts }}
    {% endif %}
    {{ function('wp_head') }}

    {% if google_analytics_code %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ google_analytics_code }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

    <script type="text/javascript">
        var slider_speed = {{ options.slider_autoplay_speed == true ? options.slider_autoplay_speed : 'false' }};
    </script>

</head>
