{% if module.alle_kavels_tonen %}
	{% set kavels = fn('get_posts', 'post_type=kavels&posts_per_page=-1&orderby=name&order=ASC') %}
{% else %}
	{% set kavels = TimberPost(module.kavels_selecteren) %}
{% endif %}

{% if kavelsliderstart %}
	{% set kavelstart = kavelsliderstart %}
{% else %}
	{% set kavelstart = '1' %}
{% endif %}

{% if kavels %}
<div class="content-wrapper">
	<div class="site-container">
		<div class="site-container__inner">
			{% if module.titel %}
				<h2>{{ module.titel }}</h2>
			{% endif %}
			{% if module.pijltjes_tonen %}
				<div class="kavelarrows">
					<a class="prev-kavel-arrow"><i class="icon-arrow icon-arrow-left spanish-green"></i>
						<span>{{ module.tekst_vorige }}</span></a>
					<a class="next-kavel-arrow"><span>{{ module.tekst_volgende }}</span>
						<i class="icon-arrow icon-arrow-right spanish-green"></i></a>
				</div>
			{% endif %}
			<div class="kavel-wrapper">
				<div class="kavel-slider" data-start="{{ kavelstart }}">
					{% for post in kavels %}
                        <div class="kavel-slider__slide">
    						{% include 'kavels/item.twig' %}
                        </div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
