<div class="content-wrapper content-wrapper--contact content-wrapper--gray">
    {% if module.achtergrondafbeelding %}
    <figure class="content-wrapper__background">
        <img src="{{ TimberImage(module.achtergrondafbeelding).src('large') }}" alt="{{ TimberImage(module.achtergrondafbeelding).alt }}" />
    </figure>
    {% endif %}
    {% if module.letter %}
    <div class="letter">
        <span class="letter__default">{{ module.letter }}</span>
    </div>
    {% endif %}
    <div class="site-container">
        <div class="site-container__inner">
            <div class="row">
                <div class="col-lg-12">
                    {% if fn('my_wp_is_mobile') and module.afwijkende_titel_mobiel %}
                        {{ module.mobiel_titel }}
                        <a href="#" class="btn open-form">{{ module.mobiel_subtitel }}</a>
                    {% else %}
                        {{ module.titel }}
                    {% endif %}
                </div>
                {% if fn('my_wp_is_mobile') and module.afwijkende_titel_mobiel %}
                <div class="form-mobile">
                {% endif %}
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        {{ fn('do_shortcode', '[contact-form-7 id="' ~ module.contactformulier_keuze.id ~ '" title="'~ module.contactformulier_keuze.title ~'"]') }}
                    </div>
                    {% if module.toon_contactgegevens %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="contact-info">
                            <p><strong>{{ options.verkopend_makelaar }}</strong></p>
                            {{ options.contactgegevens|wpautop }}
                            <p>
                            <a href="mailto:{{ options.contact_e_mail }}"><span>E</span> {{ options.contact_e_mail }}</a>
                            <a href="{{ options.contact_webadres }}" target="_blank"><span>I</span> {{ options.contact_webadres|replace({'http://': ''}) }}</a>
                            </p>
                            {% if options.contact_logo and module.toon_contactgegevens_logo %}
                            <img src="{{ TimberImage(options.contact_logo).src }}" alt="{{ TimberImage(options.contact_logo).alt }}" />
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% if fn('my_wp_is_mobile') and module.afwijkende_titel_mobiel %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
