

%posa-full {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

%strip-margin-padding {
	margin: 0;
	padding: 0;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	zoom: 1;
	&::before, &::after { content: ""; display: table; }
	&::after { clear: both; }
}

%full-bg {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

%pos-center {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

// Mixin for new SASS 3.3 function @AT-ROOT
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

// POS ALIGN MIXIN
@mixin centerY($position, $distance) {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);

	@if $position == 'left' {
		left: $distance;
		right: auto;
	} @else {
		right: $distance;
		left: auto;
	}
}
