<div class="banner-wrapper">
    <figure class="banner">
        <img src="{{ TimberImage(module.banner_afbeelding).src('size-1920x600') }}" alt="{{ TimberImage(module.banner_afbeelding).alt }}" />
    </figure>
</div>
