.errorpage {
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        margin-bottom: 20px;
    }
    
    .btn {
        margin-top: 10px;
    }
    
    @media ($media-sm) {
        height: calc(100vh - 132px);
    }
    @media ($media-md) {
        height: calc(100vh - 55px);
    }
    
    @media (min-width: 1025px) {
        height: 100vh;
    }
}