.content-wrapper--faq {

    footer {
        margin-top: 40px;

        @media ($media-xs) {
            text-align: center;
        }
    }
}

.faq-holder {
    position: relative;
    margin-top: 20px;

    .faq__item__question {
        display: block;
        position: relative;
        padding: 30px 0 {
            right: 40px;
        }
        font: {
            family: $main-font;
            size: 16px;
            weight: bold;
        }
        color: $color-mine-shaft;
        line-height: 1;
        text-transform: none;
        cursor: pointer;
        border-bottom: 1px solid rgba($text-color, .16);

        i {
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            border: 1px solid $color-mine-shaft {
                radius: 50%;
            }
            transform: translateY(-50%);

            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                right: 8px;
                content: '';
                background-color: $color-mine-shaft;
                transition: all .5s ease-in-out;

                @media ($media-sm) {
                    right: 13px;
                }
            }

            &:before {
                width: 12px;
                height: 1px;
                margin-top: -1px;
            }

            &:after {
                width: 1px;
                height: 12px;
                right: 13px;
                margin-top: -7px;

                @media ($media-sm) {
                    right: 18px;
                }
            }

            @media ($media-sm) {
                width: 40px;
                height: 40px;
            }
        }

        &.active {

            i {

                &:before {
                    transform: rotate(90deg);
                    opacity: 0;
                }

                &:after {
                    transform: rotate(90deg);
                    opacity: 1;
                }
            }
        }

        @media ($media-sm) {
            padding: {
                right: 52px;
            }
        }
    }

    .faq__item__answer {
        display: none;
        padding: 20px 0;
        
        &.active {
            display: block;
        }
    }
}
