.content-wrapper.content-wrapper--contact {
    padding-bottom: 0;

    @media ($media-sm) {
        padding-bottom: 100px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 30px;
    }

    .open-form {
        padding-bottom: 40px;
    }
}

.form-mobile {
    display: none;
    margin-top: 40px;
}

.contact-info {
    padding: 40px 0;

    &:before {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: -11px;
        background-color: $white;
        content: '';

        @media ($media-sm) {
            display: none;
        }
    }

    @media ($media-sm) {
        padding: 0;
    }

    p {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;

        strong {
            font-size: 16px;
        }
    }

    a {
        display: block;
        color: $text-color;
        font-weight: 300;

        span {
            display: inline-block;
            vertical-align: top;
            width: 14px;
        }
    }

    img {
        position: relative;
    }
}
